#quote-box {
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
}

#new-quote {
    float: right;
    background-color: #4b91ee;
    height: 45px;
    font-size: 13px;
    color: white;
    margin: auto;
}

#text {
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}

#author {
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
}

#tweet-button {
    float: left;
    background-color: #4b91ee;
    height: 45px;
    padding-left: 15px;
    margin: auto;
}

#wrapper {
    margin: auto;
    /* width: 50%; */
    padding: 10px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

